@use '../../styles/theme';

@include theme.parts('eve-online') {
  // Small body text, slash separators.
  .x-breadcrumbs__item {
    font-size: var(--x-fs-small);
    line-height: 1.5;

    & + .x-breadcrumbs__item::before {
      content: '/';
    }
  }
}
