@use '../../styles/theme';

@include theme.parts('eve-online') {
  .x-tag {
    &::before {
      content: '#';
      margin-right: 2px;
      color: var(--x-color-text-faint);
    }

    &--active {
      box-shadow: 0 0 12px var(--x-color-glow);

      &::before {
        color: inherit;
      }
    }
  }
}
